/*components */
.site-header {
    border-top: 5px solid #c52d2f;
    border-bottom: 0;
    min-height: 56px;
    position: relative;
    background-color:#020202;
    
}
.site-title,.site-nav,.site-nav .page-link{
    color:#EDEDED !important;
}




footer{
    background-color:#020202;
    
}
.footer-col,.footer-col span{
    color:#dddddd;
    
}
.card{
    width:600px;
    height:400px;
    /*background-color:#020202;*/
    position: relative;
}

.card div.info{
    color:white;
    position: relative;
    top: 200px;
    right:40px;
    background-color: rgba(0,0,0,0.4);
    
}
.info h1, .info h3{
    color:white;
    text-align: right;
    border-bottom: 0;
}
#card-marknotes{
    background-image:url("../images/MarkNotes.jpg");
    background-size:100% 100%;
}
#card-markphoto{
    background-image:url("../images/MarkPhoto.jpg");
    background-size:100% 100%;
}
#card-markdisk{
    background-image:url("../images/MarkDisk.jpg");
    background-size:100% 100%;
}

/*.jcarousel{width:600px; height:400px;}*/

/*jcarousel */
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    /*border: 10px solid #fff;
     width: 600px;
     height: 400px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    list-style: none;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    
    background-color: #c52d2f;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: 2px;
}

.jcarousel-control-next {
    right: 2px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #c52d2f;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}




